#parent {
  background-color: pink;
  height: 100vh;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-template-rows: 80px repeat(9, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.child1 {
  background-color: red;
  grid-column: 1/11;
  /* grid-column-start: 1;
  grid-column-end: 11; */
}
.child2 {
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 2/9;
  /* grid-row-start: 2;
  grid-row-end: 9; */
}
.child3 {
  background-color: yellow;
  /* grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 9; */
  grid-column: 6/11;
  grid-row: 2/9;
}
.child4 {
  background-color: lightblue;
  grid-column: 2/10;
  grid-row: 9/10;
}
