* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
}

ul {
  background-color: black;
  overflow-x: auto;
  white-space: nowrap;
}

li {
  width: 150px;
  height: 60px;
  display: inline-block;
  font-size: 24px;
  /* background-color: whitesmoke; */
  color: white;
}
.para {
  background-color: aqua;
}
