body {
  margin: 0;
  padding: 0;
}
#container {
  background-color: pink;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.imgContainer {
}

img {
  width: 100%;
  height: 100%;
}
