#container {
  height: 150px;
}
.box {
  width: 100px;
  height: 100px;
  background-color: red;
}
.box:hover {
  background-color: blue;
  transition-property: background-color, margin;
  transition-duration: 1s;
  margin: 100px;
}
nav {
  width: 100%;
  height: 80px;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subNav {
  position: fixed;
  width: 100%;
  left: -10%;
}

/* .link:hover {
  font-size: 24px;
  color: red;
  transition-property: font-size, color, background-color;
  transition-duration: 4s, 1s, 10s;
  background-color: yellow;
} */

.link:hover .subNav {
  left: 80%;
  transition-property: left;
  transition-duration: 3s;
}

/* .box1 {
  height: 300px;
  width: 400px;
  background-color: gray;
  color: white;
} */
/* .box1:hover {
  box-shadow: inset 0 0 0 24px #53a7ea;
  transition-property: box-shadow;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.box2 {
  height: 300px;
  width: 400px;
  background-color: gray;
  color: white;
  background-image: url(./images/elephant.jpg);
  background-size: cover;
  filter: blur(2px);
}
.box2:hover {
  transition-property: filter;
  transition-duration: 1s;
  filter: blur(0);
}
.box3 {
  height: 300px;
  width: 400px;
  background-color: gray;
  color: white;
  background-image: url(./images/elephant.jpg);
  background-size: cover;
  transition-property: transform;
  transition-duration: 1s;
  transform: scale(1);
}
.box3:hover {
  transform: scale(0.8);
}
.box4 {
  height: 300px;
  width: 400px;
  background-color: gray;
  color: white;
  background-image: url(./images/elephant.jpg);
  background-size: cover;
}
.box4:hover {
  transform: rotateZ(30deg);
  transition-property: transform;
  transition-duration: 0.5s;
} */

/* .dropDownMarker {
  background-color: lightblue;
}
.dropDownMarkerIcon {
  font-size: 2em;
  margin-left: 50px;
  margin-top: 50px;
  transition-property: transform;
  transition-duration: 0.5s;
}

.dropDownMarkerIcon:hover {
  transform: rotate(180deg);
}

.iconBar {
  background-color: pink;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: transform;
  transition-duration: 1s;
}
.iconBar:hover {
  transform: rotate(90deg) scale(0.5);
}

.iconBar:hover .icon1 {
  font-size: 4em;
}
.icon1 {
  font-size: 2em;
  transition-property: font-size;
  transition-duration: 1s;
} */

.background {
  width: 600px;
  height: 600px;
  background-color: lightgray;
  position: relative;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-property: top, left, right, bottom, transform;
  transition-duration: 3s;
}
.circle1 {
  background-color: red;
  z-index: 1;
  transform: rotateZ(90deg);
}
.circle2 {
  background-color: blue;
  transform: rotateZ(180deg);
}
.circle3 {
  background-color: green;
  transform: rotateZ(270deg);
}
.background:hover .circle1 {
  /* top: 0; */
  /* right: 0; */
  /* left: 100%; */
  transform: translate(0, 0);
}
.background:hover .circle2 {
  /* top: 0; */
  /* left: 0; */
  transform: translate(0, 0);
}
.background:hover .circle3 {
  /* top: initial; */
  /* bottom: 0; */
  /* left: 0;
  top: 100%; */
  transform: translate(0, 0);
}
