* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navContainer {
  padding-top: 8px;
  display: flex;
  justify-content: center;
  height: 82px;
  background-color: #365899;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
}
.navContent {
  width: 980px;
  display: flex;
  justify-content: space-between;
}
.navLogo {
  display: flex;
  align-items: center;
}
.mainLogo {
  color: #fff;
  font-size: 2.4em;
  text-decoration: none;
  font-weight: bold;
  padding-top: 8px;
}
.navLogin {
  display: flex;
  color: #fff;
}
.userLogin {
  /* background-color: green; */
  width: 164px;
  padding-top: 6px;
}
.passwordLogin {
  /* background-color: orange; */
  width: 164px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navLoginText {
  font-size: 0.75em;
  padding-bottom: 5px;
}
.navInput {
  border: 1px solid #1d2a5b;
  width: 150px;
  height: 24px;
  padding-left: 3px;
}
input:focus {
  outline: none;
}
#forgotText {
  color: #9cb4d8;
  text-decoration: none;
  font-size: 0.75em;
  padding-top: 5px;
}
#forgotText:hover {
  text-decoration: underline;
}
.navLogIn {
  display: flex;
  align-items: center;
}
.navLogInBtn {
  border-radius: 2px;
  width: 50px;
  height: 24px;
  color: #fff;
  background-color: #4267b2;
  border-color: #29487d;
  cursor: pointer;
}
.navLogInBtn:hover {
  background-color: #365899;
}
.navLogInBtn:active {
  background-color: #29487d;
  border: none;
}
.navLogInBtn:focus {
  outline: none;
}
.mainContainer {
  background-color: #edf0f5;
  height: 600px;
  display: flex;
  justify-content: center;
}
.mainContent {
  width: 980px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.leftInfo {
  width: 565px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
}
.leftHeadline {
  font-size: 1.8em;
  font-family: freight-sans-pro, sans-serif;
  color: #333;
  font-weight: bold;
}
.iconBox {
  width: 54px;
  display: flex;
  justify-content: center;
  margin-right: 15px;
}
.icons {
  color: #adb9d3;
  font-size: 2.5em;
}
.infoPoint {
  display: flex;
  align-items: center;
}
.infoText {
  color: #666;
}
.infoTextEffect {
  color: black;
  font-weight: bold;
  /* margin-left: 15px; */
}
.rightLogin {
  /* background-color: lightseagreen; */
  width: 400px;
  display: flex;
  flex-direction: column;
}
.signUpHeadline {
  /* background-color: gold; */
  font-size: 2.2em;
  margin-bottom: 8px;
  font-weight: bold;
}
.rightDescription {
  /* background-color: lightsteelblue; */
  font-size: 1.2em;
  margin-bottom: 20px;
}
.signUpForm {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}
.fullNameInputs {
  display: flex;
  justify-content: space-between;
}
.signUpInputs {
  height: 39px;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  font-size: 1.1em;
  margin-bottom: 10px;
  padding-left: 8px;
}
.signUpInputs::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1; /* Firefox */
}
.signUpInputs:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}

.signUpInputs::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
}
.nameInput {
  width: 194px;
}
.birthdayTitle {
  /* background-color: pink; */
  font-size: 1.1em;
  margin-top: 12px;
  margin-bottom: 7px;
}
.birthdaySelection {
  /* background-color: lightblue; */
  display: flex;
  align-items: center;
}
.birthdaySelectors {
  display: flex;
}
.birthSelect {
  background-color: #fff;
  height: 30px;
  border: 1px solid #bdc7d8;
  font-size: 0.8em;
}
.birthSelect:focus {
  outline: none;
}
.monthSelect {
  width: 63px;
}
.daySelect {
  width: 48px;
}
.yearSelect {
  width: 57px;
}
.birthdayText {
  font-size: 0.7em;
  margin-left: 10px;
  line-height: 1.3em;
}
.genderOptions {
  /* background-color: gold; */
  margin-top: 15px;
  display: flex;
  font-size: 1.1em;
}
.genderChoice {
  display: flex;
  align-items: flex-start;
}
.genderSelect {
  margin-left: 9px;
  margin-right: 3px;
  margin-top: 3px;
}
.genderLabel {
  padding-right: 10px;
  padding-left: 3px;
}
.termsBox {
  margin-top: 15px;
}
.termsText {
  font-size: 0.7em;
  line-height: 1.3em;
  width: 316px;
  color: #777;
  /* background-color: pink; */
}
.signUpBtn {
  background: linear-gradient(#67ae55, #578843);
  border-color: #3b6e22 #3b6e22 #2c5115;
  box-shadow: inset 0 1px 1px #a4e388;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #fff;
  height: 39px;
  width: 194px;
  font-size: 1.3em;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.signUpBtn:focus {
  outline: none;
}
.pageMessage {
  /* background-color: lightblue; */
  border-top: 1px solid #dddfe2;
  color: #666;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 15px;
  font-size: 0.85em;
}
.pageLink {
  color: #365899;
  text-decoration: none;
}

.pageLink:hover {
  text-decoration: underline;
}
