.main {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.link {
  transition-property: background-color, color, font-size;
  transition-duration: 1s;
}

.link:hover {
  /* background-color: black; */
  /* color: white;
  font-size: 2em; */
}

.list {
  position: fixed;
  right: -50%;
  transition-property: right;
  transition-duration: 1s;
}

.link:hover .list {
  right: 50%;
}
