img {
  width: 300px;
  height: 300px;
  float: left;
  margin: 20px;
}

div {
  /* display: inline-block; */
  /* width: 800px; */
  background-color: lightblue;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.elephant {
  float: right;
  width: 300px;
  height: 300px;
}
