* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/*************** NAV BAR ***************/
.mainSiteNavbar {
  background-color: #48b5f3;
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.navLogo {
  display: flex;
  align-items: center;
}
.brandLogo {
  background-color: white;
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brandName {
  /* background-color: pink; */
}
.navToggleIcon {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navToggleBtn {
  font-size: 2em;
  color: white;
}
/************** SIDE NAV **************/
.sideNavWindow {
  /* display: none; */
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  box-shadow: -1px 0 50px rgba(0, 0, 0, 0.25);
}
.sideNavBar {
  background-color: #48b5f3;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
  padding-top: 24px;
}
.cancelIcon {
  font-size: 2em;
  cursor: pointer;
}
.cancelIcon:hover {
  opacity: 0.6;
}
.sideNavMenu {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
}
.sideNavHeading {
  /* background-color: pink; */
  padding-right: 24px;
  padding-left: 24px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 40px;
  padding-bottom: 6px;
}
.sideNavHeading:hover {
  cursor: pointer;
  color: #1f93ff;
  /* background-color: lightblue; */
}
#sideNavSubHeading1 {
  display: none;
}
#sideNavSubHeading2 {
  display: none;
}
#sideNavSubHeading3 {
  display: none;
}
#sideNavSubHeading4 {
  display: none;
}
.subHeadingOpt {
  text-align: right;
  padding: 10px 62px;
  color: #616161;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
}
.subHeadingOpt:hover {
  color: #1f93ff;
  /* background-color: pink; */
}
.sideNavText {
  /* font-family: "Poppins", sans-serif; */
  /* background-color: red; */
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 0.2em;
}
.dropDownIcon {
  color: #1f93ff;
  font-size: 1.4em;
  margin-left: 14px;
  margin-bottom: 3px;
}
.sideNavBtnBar {
  /* background-color: red; */
  margin-top: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sideNavBtn {
  background-color: white;
  color: #1f93ff;
  border-radius: 50px;
  width: 43%;
  max-width: 160px;
  margin-right: 50px;
  height: 44px;
  border: 2px solid #1f93ff;
  cursor: pointer;
  outline: none;
  /* box-shadow: 3px 5px 12px rgba(50, 50, 50, 0.25); */
}
/* .sideNavBtn:hover {
  background-color: #1f93ff;
  color: white;
} */
.sideNavBtn:active {
  background-color: #1f93ff;
  color: white;
}
.messageIcon {
  margin-right: 6px;
}
.sideNavContactForm {
  display: grid;
  /* display: none; */
  grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
  background-color: #616161;
  position: fixed;
  left: 10px;
  right: 10px;
  top: 25%;
  height: 50%;
  border-radius: 20px;
  z-index: 10;
}
.contactFormOpt {
  /* height: 56px; */
}
#contactFormOpt1 {
  background-color: lightblue;
  border-radius: 20px 20px 0 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#contactFormOpt2 {
  display: flex;
}
.firstNameField {
  background-color: orange;
  width: 50%;
}
.lastNameField {
  background-color: purple;
  width: 50%;
}
#contactFormOpt3 {
  display: flex;
}
.emailField {
  background-color: lightblue;
  width: 50%;
}
.phoneField {
  background-color: orange;
  width: 50%;
}
#contactFormOpt4 {
  background-color: yellow;
}
#contactFormOpt5 {
  background-color: orange;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contactFormSubmitBtn {
  background-color: green;
  outline: none;
  border: none;
  width: 50%;
  height: 64%;
  border-radius: 6px;
}
.messageMenuTitle {
  /* background-color: orange; */
  font-size: 1.2em;
}
.messageCancelBtn {
  background-color: lightblue;
  position: absolute;
  right: 0px;
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0 20px 0 0;
  outline: none;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.messageCancelIcon {
  font-size: 1.7em;
}
.sideNavSocialMedia {
  background-color: orange;
  position: absolute;
  left: 0;
  bottom: 39%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.socialMediaIcon {
  background-color: lightgray;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
}
.socialMediaIcon:active {
  font-size: 1.8em;
}
.sideNavContact {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.contactInfo {
  background-color: white;
  display: flex;
  padding-bottom: 5px;
  font-size: 13px;
  height: 42px;
}
.addressBox {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.phoneNumberBox {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.addressText {
  max-width: 180px;
  text-align: center;
  /* background-color: orange; */
}
.phoneNumberText {
  color: black;
  /* background-color: pink; */
}
.contactBtns {
  background-color: lightgray;
  height: 68px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 10px;
  border-top: 3px solid darkgray;
}
.contactBtn {
  background-color: white;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  border: 3px solid gray;
  border-radius: 12px;
}
/* .contactBtn:hover {
  border: 3px solid #1f93ff;
} */
.contactBtn:active #directionsIcon {
  font-size: 1em;
}
.contactBtn:active #callIcon {
  font-size: 1.4em;
}
.contactBtn:active {
  border: 3px solid #1f93ff;
  background-color: gainsboro;
}
#directionsBtn {
  margin-right: 5px;
}
#callBtn {
  margin-left: 5px;
}
.contactIcon {
  font-size: 1.2em;
}
#directionsIcon {
  color: red;
}
#callIcon {
  color: green;
}
.contactBtnText {
  margin-left: 5px;
}
/*************** CONTENT ***************/
.contentBox2 {
  height: 500px;
  background-color: lightcoral;
}
.landingContent {
  height: calc(100vh - 80px);
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.landingInfoBox {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  margin-top: 60px;
}
.landingHeading {
  /* background-color: lightgreen; */
  padding: 0 20px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-size: 2.3em;
}
.landingSubHeading {
  /* background-color: lightgrey; */
  padding: 0 20px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.landingBtn {
  background-color: #2c4bff;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  height: 48px;
  width: 170px;
  font-size: 1em;
  margin-top: 25px;
  outline: none;
  box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.15);
}
.landingBtn:hover {
  background-color: #1f35b3;
}
