* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/*************** NAV BAR ***************/
.mainSiteNavbar {
  background-color: #48b5f3;
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.navLogo {
  display: flex;
  align-items: center;
}
.brandLogo {
  background-color: white;
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brandName {
  /* background-color: pink; */
}
.navToggleIcon {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navToggleBtn {
  font-size: 2em;
  color: white;
}
/************** SIDE NAV **************/
.sideNavWindow {
  /* display: none; */
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  box-shadow: -1px 0 50px rgba(0, 0, 0, 0.25);
}
.sideNavBar {
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
  padding-top: 24px;
}
.cancelIcon {
  font-size: 2em;
  cursor: pointer;
}
.cancelIcon:hover {
  opacity: 0.6;
}
.sideNavMenu {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
}
.sideNavOpt {
  width: 100%;
  padding: 9px 24px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
.sideNavOpt:hover {
  cursor: pointer;
  color: #1f93ff;
}
.sideNavText {
  /* font-family: "Poppins", sans-serif; */
  font-weight: 600;
  font-size: 1.4em;
  letter-spacing: 0.2em;
}
.dropDownIcon {
  color: #1f93ff;
  font-size: 1.4em;
  margin-left: 14px;
  margin-top: 1px;
}
.sideNavSocialMedia {
  background-color: orange;
  position: absolute;
  left: 0;
  bottom: 27%;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.socialMediaIcon {
  background-color: darkgray;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
}
.socialMediaIcon:active {
  font-size: 1.8em;
}
.sideNavContact {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.contactInfo {
  display: flex;
  padding-bottom: 5px;
}
.address {
  /* background-color: pink; */
  width: 50%;
  text-align: center;
  font-size: 14px;
}
.phoneNumber {
  /* background-color: orange; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactBtns {
  background-color: darkgray;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contactBtn {
  background-color: white;
  cursor: pointer;
  font-weight: 500;
  height: 62px;
  width: 45%;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  letter-spacing: 1px;
}
.contactBtn:active .contactIcon {
  font-size: 1.6em;
}
#directionsBtn {
  border: 3px solid red;
}
#callBtn {
  border: 3px solid green;
}
.contactIcon {
  margin-bottom: 5px;
}
.directionsIcon {
  color: red;
  font-size: 1.3em;
}
.callIcon {
  color: green;
  font-size: 1.3em;
}
/*************** CONTENT ***************/
.contentBox2 {
  height: 500px;
  background-color: lightcoral;
}
.landingContent {
  height: calc(100vh - 80px);
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.landingInfoBox {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  margin-top: 60px;
}
.landingHeading {
  /* background-color: lightgreen; */
  padding: 0 20px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-size: 2.3em;
}
.landingSubHeading {
  /* background-color: lightgrey; */
  padding: 0 20px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.landingBtn {
  background-color: #2c4bff;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  height: 48px;
  width: 170px;
  font-size: 1em;
  margin-top: 25px;
  outline: none;
  box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.15);
}
.landingBtn:hover {
  background-color: #1f35b3;
}
