* {
  margin: 0;
  padding: 0;
}

#container {
  width: 400px;
  height: 400px;
  background-color: pink;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid red;

  /* transition-property: ;
  transition-duration: ;
  transition-timing-function: ;
  transition-delay: ;
   */
  transition: background-color 2s ease 0s, width 2s ease 0s, height 2s ease 0s;

  /* background-image: url("./gradient.jpg");
  background-repeat: no-repeat;
  background-position: center; / background-size: cover;
 */
  background: url("./gradient.jpg") no-repeat center/contain;
}
